<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genre Prediction</title>
    <style>
    .tabs {
        background: url(../static/img/hero-bg.png) top center no-repeat;
        background-size: 1500px 800px;
    }
    </style>
</head>
<body>
<div class="tabs">
    <div class="container">
        <div class="row">
            <div>
                <h1>The Predicted Music Genre Is</h1>

                    <div class="row mt-5">
                            <img class="img-fluid" src="../static/img/celebration-1.png" style="height: 350px;float: left" alt="alternative">
                            <div style="margin-top: -5rem;margin-left: 30rem; border: 50%;">
                                    <div class="card-icon" style="height: 50vh; width: 50vh; margin-top: 5rem; margin-left: 3rem; background-color: blueviolet; border-radius:50%;">
                                        <h3 style="margin-top: 13rem;margin-left:8rem;padding-top: 10rem;padding-left: 2rem;">
                                            <i style="font-size:2rem;">
                                                {{ genre }}
                                            </i>
                                        </h3>
                                    </div>
                            </div>
                            <img class="img-fluid" src="../static/img/celebration-2.png" style="height: 350px;margin-top: -25rem;margin-bottom: 50rem;margin-left: 60rem;" alt="alternative">
                    </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div>
</div>

</body>
</html>