<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Gender Identification!!</title>


    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/form_upload.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-upload" action="predict" method="POST" enctype="multipart/form-data">
      <h1 class="h3 mb-3 font-weight-normal">Please Upload Image!!</h1>
      <input type="file" name="img" class="form-control" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Predict</button>
    <br>
      {% if image_loc %}
      <img class="mb-4" src="static/{{image_loc}}" alt="" width="256" height="256">
      <h3 class="h3 mb-3 font-weight-normal">Prediction is : {{data}}</h3>
      {%endif%}
      
    </form>
  </body>
</html>