$col-prim: rgb(20, 50, 184);
$col-prim-light: rgb(0, 81, 255);
$col-prim-dark: rgb(15, 15, 77);

$col-white: rgb(232, 235, 243);
$col-black: rgb(37, 37, 37);

$col-sec: rgb(206, 55, 36);
$col-sec-dark: rgb(110, 25, 25);

$col-footer: rgb(10, 10, 46);