from theshredbox import social_distancing_config as config
from theshredbox.detection import detect_people
from scipy.spatial import distance as dist
import numpy as np
import argparse
import imutils
import cv2
import os