Flask==2.0.1
gunicorn==20.1.0
h5py==3.1.0
html5lib==1.1
importlib-metadata==4.0.1
ipykernel==5.5.3
ipython==7.24.1
ipython-genutils==0.2.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
npyscreen==4.10.5
numpy==1.19.5
pandas==1.2.4
requests==2.25.1
requests-oauthlib==1.3.0
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
rsa==4.7.2
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.3
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-cpu==2.5.0
tensorflow-estimator==2.5.0
